.modal--popup-welcome {
  .modal__wrapper {
    background-color: #ffffff;
    padding: 40px 60px;
  }

  .modal__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .modal__title {
    color: #2F2F2F;
    font-family: var(--font-playfair-display);
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 32px;
  }

  .modal__subtitle {
    color: rgba($color: #000A2C, $alpha: 0.7);
  }

  .wpcf7-spinner {
    display: none;
  }
}

.ath-popup-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.65);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 20px;

  &.is-active {
    display: flex;
  }
}

.ath-popup {
  position: relative;
  width: 100%;
  max-width: 660px;
  background: #fff;
  padding: 38px 50px 46px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}

.ath-popup-close {
  position: absolute;
  top: 12px;
  right: 14px;
  border: 0;
  background: transparent;
  font-size: 28px;
  cursor: pointer;
}

.ath-popup-form {
  h2 {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 32px;
    margin: 0 0 28px;
    color: #333;
  }

  .ath-question {
    font-size: 18px;
    color: #38415f;
    margin-bottom: 16px;
  }
}

.ath-role-grid {
  .wpcf7-list-item {
    width: calc(50% - 10px);
    margin: 0 20px 14px 0;
    display: inline-block;
    vertical-align: top;

    &:nth-child(2n) {
      margin-right: 0;
    }

    label {
      padding: 0 12px;
      border: 1px solid var(--system-border);
      cursor: pointer;
      height: 60px;
      display: flex;
      align-items: center;
      width: calc(100% - 24px);
    }

    input {
      margin: 0;
    }

    .wpcf7-list-item-label {
      color: var(--system-black);
      @include typo-text-md(500);
    }

    .wpcf7-list-item-label {
      color: var(--system-black);
      margin-left: 10px;
    }

    label:has(input:checked) {
      border-color: var(--primary-500);
    }

    /* Ẩn radio default */
    input[type="radio"] {
      appearance: none;
      -webkit-appearance: none;
      width: 22px;
      height: 22px;
      border: 1px solid var(--system-border);
      border-radius: 50%;
      margin-top: 4px;
      position: relative;
      cursor: pointer;
      flex-shrink: 0;
      transition: all 0.2s;
    }

    /* chấm tròn bên trong */
    input[type="radio"]::after {
      content: "";
      position: absolute;
      inset: 4px;
      background: transparent;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.2s;
    }

    /* checked */
    input[type="radio"]:checked {
      border: 7px solid var(--primary-500);
    }

    input[type="radio"]:checked::after {
      transform: scale(1);
    }
  }
}

.ath-search-box {
  border: 1px solid #e1e1e1;
  padding: 34px 16px 18px;
  margin: 10px 0 28px;

  legend {
    padding: 0 8px;
    color: rgba($color: #000A2C, $alpha: 0.7);
    @include typo-text-lg(400);
  }
}

.ath-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px 34px;
}

.ath-field {

  input,
  select {
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--system-border);
    padding: 12px 14px;
    color: var(--system-black);
    outline: none;
    background: transparent;
    border-radius: 0;
    height: 56px;
    @include typo-system-button-2();
    padding: 0;
  }

  ::placeholder {
    color: var(--system-placeholder);
  }

  &:hover::after {
    border-color: var(--primary-500);
  }
}

.ath-skip {
  display: block;
  margin-left: auto;
  margin-bottom: 16px;
  border: 0;
  background: transparent;
  color: var(--system-content-1);
  cursor: pointer;

  @include typo-text-lg(400);
}

.ath-submit {
  width: 100%;
  height: 56px;
  border: 0;
  background: var(--primary-500);
  color: #fff;
  cursor: pointer;
  @include typo-system-button();

  &:hover {
    background: var(--primary-500);
  }
}

@media (max-width: 640px) {
  .ath-popup {
    padding: 32px 20px;
  }

  .ath-role-grid .wpcf7-list-item,
  .ath-fields {
    width: 100%;
    display: block;
  }

  .ath-field {
    margin-bottom: 18px;
  }
}