.woocommerce-breadcrumb {
	width: 100%;
	background-color: transparent;
	margin-top: 20px;
	margin-bottom: 52px;

	.woocommerce-breadcrumb__container {
		padding-top: 0.625em;
		padding-bottom: 0.625em;

		@media (max-width: 576px) {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		a {
			color: var(--primary-500);
		}
	}
}