button,
button:hover,
button:active,
button:focus {
	border: 0;
}

.button-reset {
	@include button-reset;
}
.button-default {
	@include button-default;
}
.button-small {
	@include button-small;
}
.button-normal {
	@include button-normal;
}
.button-medium {
	@include button-medium;
}
.button-large {
	@include button-large;
}
.button-style-primary {
	@include button-style-primary;
}
// .button-style-secondary {
// 	@include button-style-secondary;
// }
.button-style-dark {
	@include button-style-dark;
}
.button-style-white {
	@include button-style-white;
}
.button-style-outline-primary {
	@include button-style-outline-primary;
}
.button-style-outline-dark {
	@include button-style-outline-dark;
}
.button-style-outline-white {
	@include button-style-outline-white;
}